elixir 1.18.4-otp-26                                                                                 
erlang 27.3                                                                                        
rust 1.80.0                                                                                           
nodejs 22.8.0                                                                            
neovim 0.10.1   
lua 5.4.7
