elixir 1.15.4-otp-26                                                                                 
erlang 26.0.2                                                                                        
rust 1.7.1                                                                                           
nodejs 18.17.1                                                                            
neovim 0.9.2           
